<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>finalProject2</display-name>
  <welcome-file-list>
    
    <welcome-file>homepage.jsp</welcome-file>
 
  </welcome-file-list>
  
   <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.kc.action.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>com.kc.action.Upload</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PageServlet</servlet-name>
    <servlet-class>com.kc.action.PageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddPostServlet</servlet-name>
    <servlet-class>com.kc.action.AddPostServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PostDetailServlet</servlet-name>
    <servlet-class>com.kc.action.PostDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddReplyServlet</servlet-name>
    <servlet-class>com.kc.action.AddReplyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditPost</servlet-name>
    <servlet-class>com.kc.action.EditPost</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditReply</servlet-name>
    <servlet-class>com.kc.action.EditReply</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>VideoUploadServlet</servlet-name>
    <servlet-class>com.kc.action.VideoUploadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>VideoServlet</servlet-name>
    <servlet-class>com.kc.action.VideoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.kc.action.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.kc.action.Test</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SpaceServlet</servlet-name>
    <servlet-class>com.kc.action.SpaceServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>VideoDetailServlet</servlet-name>
    <servlet-class>com.kc.action.VideoDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TeacherEdit</servlet-name>
    <servlet-class>com.kc.action.TeacherEdit</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>com.kc.action.AddUser</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>com.kc.action.DeleteUser</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditClass</servlet-name>
    <servlet-class>com.kc.action.EditClass</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteClass</servlet-name>
    <servlet-class>com.kc.action.DeleteClass</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchClass</servlet-name>
    <servlet-class>com.kc.action.SearchClass</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditUser</servlet-name>
    <servlet-class>com.kc.action.EditUser</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadImg</servlet-name>
    <servlet-class>com.kc.action.UploadImg</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Relation</servlet-name>
    <servlet-class>com.kc.action.Relation</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HomeworkServlet</servlet-name>
    <servlet-class>com.kc.action.HomeworkServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HWforCorrect</servlet-name>
    <servlet-class>com.kc.action.HWforCorrect</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CorrectServlet</servlet-name>
    <servlet-class>com.kc.action.CorrectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StatementServlet</servlet-name>
    <servlet-class>com.kc.student.action.StatementServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SlideServlet</servlet-name>
    <servlet-class>com.kc.student.action.SlideServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StudentHomeworkServlet</servlet-name>
    <servlet-class>com.kc.student.action.StudentHomeworkServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HWAnalysisServlet</servlet-name>
    <servlet-class>com.kc.student.action.HWAnalysisServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StudentHWResultServlet</servlet-name>
    <servlet-class>com.kc.student.action.StudentHWResultServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckStudentServlet</servlet-name>
    <servlet-class>com.kc.teacher.action.CheckStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TeacherChartServlet</servlet-name>
    <servlet-class>com.kc.teacher.action.TeacherChartServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShareServlet</servlet-name>
    <servlet-class>com.kc.action.ShareServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadShare</servlet-name>
    <servlet-class>com.kc.action.UploadShare</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GradeServlet</servlet-name>
    <servlet-class>com.kc.teacher.action.GradeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GradeAction</servlet-name>
    <servlet-class>com.kc.teacher.action.GradeAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StudentGrade</servlet-name>
    <servlet-class>com.kc.student.action.StudentGrade</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GradeAnalysisServlet</servlet-name>
    <servlet-class>com.kc.student.action.GradeAnalysisServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TeacherHWServlet</servlet-name>
    <servlet-class>com.kc.teacher.action.TeacherHWServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StudentAsk</servlet-name>
    <servlet-class>com.kc.student.action.StudentAsk</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TeacherAnswer</servlet-name>
    <servlet-class>com.kc.teacher.action.TeacherAnswer</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DBToExcel</servlet-name>
    <servlet-class>com.kc.action.DBToExcel</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PlanServlet</servlet-name>
    <servlet-class>com.kc.action.PlanServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminSlide</servlet-name>
    <servlet-class>com.kc.admin.action.AdminSlide</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminVideo</servlet-name>
    <servlet-class>com.kc.admin.action.AdminVideo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminHW</servlet-name>
    <servlet-class>com.kc.admin.action.AdminHW</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DivideGroup</servlet-name>
    <servlet-class>com.kc.teacher.action.DivideGroup</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TeacherGroupWork</servlet-name>
    <servlet-class>com.kc.teacher.action.TeacherGroupWork</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadGroup</servlet-name>
    <servlet-class>com.kc.teacher.action.UploadGroup</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StudentGroupShare</servlet-name>
    <servlet-class>com.kc.student.action.StudentGroupShare</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadGroupShare</servlet-name>
    <servlet-class>com.kc.action.UploadGroupShare</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AssignRTA</servlet-name>
    <servlet-class>com.kc.action.AssignRTA</servlet-class>
  </servlet>



















































  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PageServlet</servlet-name>
    <url-pattern>/PageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddPostServlet</servlet-name>
    <url-pattern>/AddPostServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PostDetailServlet</servlet-name>
    <url-pattern>/PostDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddReplyServlet</servlet-name>
    <url-pattern>/AddReplyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditPost</servlet-name>
    <url-pattern>/EditPost</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditReply</servlet-name>
    <url-pattern>/EditReply</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VideoUploadServlet</servlet-name>
    <url-pattern>/VideoUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VideoServlet</servlet-name>
    <url-pattern>/VideoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SpaceServlet</servlet-name>
    <url-pattern>/SpaceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VideoDetailServlet</servlet-name>
    <url-pattern>/VideoDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherEdit</servlet-name>
    <url-pattern>/TeacherEdit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditClass</servlet-name>
    <url-pattern>/EditClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteClass</servlet-name>
    <url-pattern>/DeleteClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchClass</servlet-name>
    <url-pattern>/SearchClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditUser</servlet-name>
    <url-pattern>/EditUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadImg</servlet-name>
    <url-pattern>/UploadImg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Relation</servlet-name>
    <url-pattern>/Relation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HomeworkServlet</servlet-name>
    <url-pattern>/HomeworkServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HWforCorrect</servlet-name>
    <url-pattern>/HWforCorrect</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CorrectServlet</servlet-name>
    <url-pattern>/CorrectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatementServlet</servlet-name>
    <url-pattern>/StatementServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SlideServlet</servlet-name>
    <url-pattern>/SlideServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentHomeworkServlet</servlet-name>
    <url-pattern>/StudentHomeworkServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HWAnalysisServlet</servlet-name>
    <url-pattern>/HWAnalysisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentHWResultServlet</servlet-name>
    <url-pattern>/StudentHWResultServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckStudentServlet</servlet-name>
    <url-pattern>/CheckStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherChartServlet</servlet-name>
    <url-pattern>/TeacherChartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShareServlet</servlet-name>
    <url-pattern>/ShareServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadShare</servlet-name>
    <url-pattern>/UploadShare</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GradeServlet</servlet-name>
    <url-pattern>/GradeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GradeAction</servlet-name>
    <url-pattern>/GradeAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentGrade</servlet-name>
    <url-pattern>/StudentGrade</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GradeAnalysisServlet</servlet-name>
    <url-pattern>/GradeAnalysisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherHWServlet</servlet-name>
    <url-pattern>/TeacherHWServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentAsk</servlet-name>
    <url-pattern>/StudentAsk</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherAnswer</servlet-name>
    <url-pattern>/TeacherAnswer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DBToExcel</servlet-name>
    <url-pattern>/DBToExcel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PlanServlet</servlet-name>
    <url-pattern>/PlanServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminSlide</servlet-name>
    <url-pattern>/AdminSlide</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminVideo</servlet-name>
    <url-pattern>/AdminVideo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminHW</servlet-name>
    <url-pattern>/AdminHW</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DivideGroup</servlet-name>
    <url-pattern>/DivideGroup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherGroupWork</servlet-name>
    <url-pattern>/TeacherGroupWork</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadGroup</servlet-name>
    <url-pattern>/UploadGroup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentGroupShare</servlet-name>
    <url-pattern>/StudentGroupShare</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadGroupShare</servlet-name>
    <url-pattern>/UploadGroupShare</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AssignRTA</servlet-name>
    <url-pattern>/AssignRTA</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>